.dark-mode { /*TODO Dark and Light mode*/
    background-color: #111;
    color: #ddd;
}

.banner {
    background-color: #ffcc00; 
    color: black; 
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.header {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    margin: 0;
    font-size: 32px;
}
.header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
}
.header a:hover, .header a:focus {
    color: #1e90ff;
    text-decoration: none;
}
.tools {
    display: flex;
    align-items: center;
}
.mode-toggle, .language-toggle {
    cursor: pointer;
    margin-left: 20px;
    font-size: 18px;
}
.mode-toggle {
    font-size: 24px;
}

.about-section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.about-section h2 {
    margin-top: 0;
}
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text {
    max-width: 600px;
}
.about-image {
    width: 150pt;
    height: auto;
    margin: 10px;
}
.about-image img {
    width: 100%;
    height: auto;
    border-radius: 20%;
}
.fun-facts {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #1e90ff;
}
.fun-fact {
    margin: 10px 0;
}


@media (max-width: 600px) { /* If on smart phone */
    .about-content {
        flex-direction: column;
        text-align: center;
    }
  
    .about-text {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-image {
        width: 100%;
        margin-bottom: 20px;
    }
    

}

.portfolio-container h2 {
    text-align: center;
  }
  
.portfolio-items {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #1e90ff lightgray; 
}
  
.portfolio-item {
    /* flex: 0 0 auto; */
    flex: 0 0 250px;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }
  
.portfolio-icon {
    font-size: 3em; 
}
  

.portfolio-items::-webkit-scrollbar {
    height: 10px;
}
  
.portfolio-items::-webkit-scrollbar-thumb {
    background-color:  #1e90ff;  
    border-radius: 10px; 
}
  
.portfolio-items::-webkit-scrollbar-track {
    background-color: lightgray; /* color of the scrollbar track */
}
.contact-footer {
    background: #333;
    text-align: center;
    color: white;
    padding: 20px;
}
  
.contact-footer h2 {
    color: #fff;
}
  
.contact-links {
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:30px;
}

.contact-links li{
    display:inline-block;
    margin:0 5px;
    border-radius:3px;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.contact-links li a {
    display:block;
    color:#fff;
    font-size:31px;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    border-radius:50%;
    -webkit-transition:all .3s ease-out;
    transition:all .5s ease-out;
}

.contact-links li a:hover {
    color:#fff;
    background:#ffc0cb;
    opacity: 0.2;
}